<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Assignees</title>
</head>
<body>
    <header>
        <h1>Assignees:</h1>
    </header>

    <ul class="links">
        <li><a th:href="@{/}">Home page</a></li>
        <li><a th:href="@{/assignees/add}">Add new Assignee</a></li>
    </ul>

    <table th:if="${assignees.size()}">
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>EMAIL</th>
        </tr>
        <tr th:each="assignee : ${assignees}" th:object="${assignee}">
            <td th:text="*{id}">ID</td>
            <td><a th:href="@{/assignees/show_todos/{id}(id = *{id})}"
                   th:text="*{name}">NAME</a>
            </td>
            <td th:text="*{email}">EMAIL</td>
            <td><a th:href="@{/assignees/{id}/edit(id = *{id})}">edit</a></td>
            <td><a th:href="@{/assignees/{id}/delete(id = *{id})}">delete</a></td>
        </tr>
    </table>

    <h3 th:unless="${assignees.size()}">No assignees</h3>

</body>
</html>